<div class="container">
  <div class="left-side">
    <div class="nav-container">

      <div class="box-0">
        <h1>Bienvenu</h1>
        <h3 style="color:#6e91be"> {{formattedDate}} </h3>
        <h2> Icone </h2>
      </div>

      <div class="boxes-container">
        <div class="box box-1">
          <img alt="" src="assets/img/cantine.png" srcset="" width="90">
          <div class="text-container">
            <h1>Cantine</h1>
            <h5>Consulter mes cantines</h5>
          </div>
        </div>

        <div class="box box-2">
          <img alt="" src="assets/img/agenda.png" srcset="" width="90">
          <div class="text-container">
            <h1>Évènements </h1>
            <h5>Aller voir des événements </h5>
          </div>
        </div>

        <div class="box box-3">
          <img alt="" src="assets/img/annonce.png" srcset="" width="90">
          <div class="text-container">
            <h1>Annonces </h1>
            <h5>Consulter les annonces</h5>
          </div>
        </div>

        <div class="box box-4">
          <img alt="" src="assets/img/message.png" srcset="" width="90">
          <div class="text-container">
            <h1>Message </h1>
            <h5>Consulter l'historique des messages envoyés</h5>
          </div>
        </div>

        <div class="box box-5">
          <img alt="" src="assets/img/message.png" srcset="" width="90">
          <div class="text-container">
            <h1>Réception </h1>
            <h5> Répondre aux messages dans la boite de réception </h5>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="right-side">
  </div>

</div>

